#define IDI_MAINICON 101

#include <winver.h>

#ifndef COREGAZE_VERSION_MAJOR
#define COREGAZE_VERSION_MAJOR 1
#endif

#ifndef COREGAZE_VERSION_MINOR
#define COREGAZE_VERSION_MINOR 0
#endif

#ifndef COREGAZE_VERSION_PATCH
#define COREGAZE_VERSION_PATCH 0
#endif

#ifndef COREGAZE_VERSION_BUILD
#define COREGAZE_VERSION_BUILD 0
#endif

#define RC_STRINGIFY_IMPL(x) #x
#define RC_STRINGIFY(x) RC_STRINGIFY_IMPL(x)
#define COREGAZE_VERSION_STRING RC_STRINGIFY(COREGAZE_VERSION_MAJOR) "." RC_STRINGIFY(COREGAZE_VERSION_MINOR) "." RC_STRINGIFY(COREGAZE_VERSION_PATCH) "." RC_STRINGIFY(COREGAZE_VERSION_BUILD)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION COREGAZE_VERSION_MAJOR, COREGAZE_VERSION_MINOR, COREGAZE_VERSION_PATCH, COREGAZE_VERSION_BUILD
 PRODUCTVERSION COREGAZE_VERSION_MAJOR, COREGAZE_VERSION_MINOR, COREGAZE_VERSION_PATCH, COREGAZE_VERSION_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "CoreGaze"
			VALUE "FileDescription", "CoreGaze Resource Monitoring Overlay"
			VALUE "FileVersion", COREGAZE_VERSION_STRING
			VALUE "InternalName", "CoreGaze"
			VALUE "LegalCopyright", "Copyright (C) 2026 CoreGaze"
			VALUE "OriginalFilename", "CoreGaze.exe"
			VALUE "ProductName", "CoreGaze"
			VALUE "ProductVersion", COREGAZE_VERSION_STRING
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END

IDI_MAINICON ICON "CoreGaze.ico"
